.layout-container {
  position: relative;
  background-color: var(--amplify-colors-background-secondary);
  height: 100vh;
  width: 100vw;
}

.page-container {
  padding: 14px 24px 14px 284px;
  transition: padding 0.5s;
  overflow-y: auto;
  height: 100dvh;
}

@media (max-width: 1024px) {
  .page-container {
    padding: 14px 24px;
    transition: padding 0.5s;
  }
}

.card-title {
  font-weight: 600;
}
