.sidebar {
  background-color: #fff;
  color: var(--amplify-components-text-color);
  position: fixed;
  top: 0;
  height: 100dvh;
  z-index: 3;
  width: 260px;
  gap: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  padding: 16px 24px;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
  color: var(--amplify-components-text-color);
}

@media (max-width: 1024px) {
  .sidebar {
    width: 300px;
    top: 0;
    transition: 0.2s ease;
    transform: translateX(-300px);
  }
  .sidebar.visible {
    width: 300px;
    transform: translateX(0px);
  }

  .sidebar .logo {
    padding: 16px 24px 16px 66px;
  }
}

.sidebar-nav {
  overflow-y: auto;
}

.sidebar-nav ul {
  list-style: none;
  padding: 8px 14px;
  margin: 0;
}

.sidebar-nav ul li a {
  display: flex;
  color: var(--amplify-colors-brand-primary-100);
  transition: 0.2s ease all;
  align-items: center;
  padding: 10px 12px;
  gap: 12px;
  text-decoration: none;
  border-radius: 8px;
}

.sidebar-nav ul li a:hover {
  color: var(--amplify-components-link-color);
  background-color: #f5f8fa;
}

.sidebar-nav ul li a.active {
  color: var(--amplify-components-link-color);
}

.btn-sidebar-nav {
  position: fixed;
  top: 7px;
  left: 0;
  height: 50px;
  z-index: 10;
  width: 50px;
  padding: 5px 1px;
}

@media (min-width: 1024px) {
  .btn-sidebar-nav {
    display: none;
  }
}
